---
import HeaderLink from './HeaderLink.astro';
import Twitter from '../icons/twitter.svg';
---

<div class="container">
	<div class="row">
		<div class="nav">
			<HeaderLink href="https://twitter.com/snwzy" target="_blank">
				<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_511_410)"><path d="M16 2C15.4 2.3 14.8 2.4 14.1 2.5C14.8 2.1 15.3 1.5 15.5 0.7C14.9 1.1 14.2 1.3 13.4 1.5C12.8 0.9 11.9 0.5 11 0.5C8.9 0.5 7.3 2.5 7.8 4.5C5.1 4.4 2.7 3.1 1 1.1C0.1 2.6 0.6 4.5 2 5.5C1.5 5.5 1 5.3 0.5 5.1C0.5 6.6 1.6 8 3.1 8.4C2.6 8.5 2.1 8.6 1.6 8.5C2 9.8 3.2 10.8 4.7 10.8C3.5 11.7 1.7 12.2 0 12C1.5 12.9 3.2 13.5 5 13.5C11.1 13.5 14.5 8.4 14.3 3.7C15 3.3 15.6 2.7 16 2Z" fill="#FBFBFF"/></g>
					<defs><clipPath id="clip0_511_410"><rect width="16" height="14" fill="white"/></clipPath></defs>
				</svg> twitter
			</HeaderLink>
			<HeaderLink href="https://github.com/philipjovanovic" target="_blank">
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_511_408)">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M7.97553 0.191895C3.57186 0.191895 0 3.76376 0 8.16743C0 11.6904 2.29969 14.6751 5.43119 15.7515C5.82263 15.8004 5.96942 15.5558 5.96942 15.3601C5.96942 15.1644 5.96942 14.6751 5.96942 13.9901C3.76758 14.4793 3.27829 12.9136 3.27829 12.9136C2.93578 11.9839 2.39755 11.7393 2.39755 11.7393C1.66361 11.25 2.44648 11.25 2.44648 11.25C3.22936 11.2989 3.66972 12.0818 3.66972 12.0818C4.40367 13.305 5.52905 12.9625 5.96942 12.7668C6.01835 12.2286 6.263 11.8861 6.45872 11.6904C4.69725 11.4946 2.83792 10.8096 2.83792 7.72706C2.83792 6.84633 3.1315 6.16132 3.66972 5.57416C3.6208 5.42737 3.32722 4.59557 3.76758 3.51911C3.76758 3.51911 4.4526 3.32339 5.96942 4.35092C6.6055 4.1552 7.29052 4.10627 7.97553 4.10627C8.66055 4.10627 9.34556 4.20413 9.98165 4.35092C11.4985 3.32339 12.1835 3.51911 12.1835 3.51911C12.6239 4.59557 12.3303 5.42737 12.2813 5.62309C12.7706 6.16132 13.1131 6.89526 13.1131 7.77599C13.1131 10.8586 11.2538 11.4946 9.49235 11.6904C9.78593 11.935 10.0306 12.4243 10.0306 13.1582C10.0306 14.2347 10.0306 15.0665 10.0306 15.3601C10.0306 15.5558 10.1774 15.8004 10.5688 15.7515C13.7492 14.6751 16 11.6904 16 8.16743C15.9511 3.76376 12.3792 0.191895 7.97553 0.191895Z" fill="#FBFBFF"/>
					</g>
					<defs>
					<clipPath id="clip0_511_408">
					<rect width="16" height="16" fill="white"/>
					</clipPath>
					</defs>
					</svg> philipjovanovic
			</HeaderLink>
			<HeaderLink href="https://medium.com/@snwzy" target="_blank">
				<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_511_412)">
					<path d="M1.9 3.2001C1.9 3.0001 1.8 2.8001 1.7 2.7001L0.2 0.900097V0.600098H4.8L8.4 8.5001L11.6 0.600098H16V0.900097L14.7 2.1001C14.6 2.2001 14.5 2.3001 14.6 2.5001V11.5001C14.6 11.6001 14.6 11.8001 14.7 11.9001L15.9 13.1001V13.4001H9.6V13.1001L10.9 11.8001C11 11.7001 11 11.6001 11 11.4001V4.1001L7.4 13.2001H7L2.8 4.1001V10.2001C2.8 10.5001 2.9 10.7001 3 10.9001L4.7 12.9001V13.2001H0V12.9001L1.7 10.9001C1.9 10.7001 2 10.5001 1.9 10.2001V3.2001Z" fill="#FBFBFF"/>
					</g>
					<defs>
					<clipPath id="clip0_511_412">
					<rect width="16" height="14" fill="white"/>
					</clipPath>
					</defs>
					</svg> snwzy
			</HeaderLink>
			<HeaderLink href="https://discordapp.com/users/146251631334260736" target="_blank">
				<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_511_414)">
					<path d="M5.55208 6.71191C5.09608 6.71191 4.73608 7.11191 4.73608 7.59991C4.73608 8.08791 5.10408 8.48791 5.55208 8.48791C6.00808 8.48791 6.36808 8.08791 6.36808 7.59991C6.37608 7.11191 6.00808 6.71191 5.55208 6.71191ZM8.47208 6.71191C8.01608 6.71191 7.65608 7.11191 7.65608 7.59991C7.65608 8.08791 8.02408 8.48791 8.47208 8.48791C8.92808 8.48791 9.28808 8.08791 9.28808 7.59991C9.28808 7.11191 8.92808 6.71191 8.47208 6.71191Z" fill="white"/>
					<path d="M12.36 0H1.64C0.736 0 0 0.736 0 1.648V12.464C0 13.376 0.736 14.112 1.64 14.112H10.712L10.288 12.632L11.312 13.584L12.28 14.48L14 16V1.648C14 0.736 13.264 0 12.36 0ZM9.272 10.448C9.272 10.448 8.984 10.104 8.744 9.8C9.792 9.504 10.192 8.848 10.192 8.848C9.864 9.064 9.552 9.216 9.272 9.32C8.872 9.488 8.488 9.6 8.112 9.664C7.344 9.808 6.64 9.768 6.04 9.656C5.584 9.568 5.192 9.44 4.864 9.312C4.68 9.24 4.48 9.152 4.28 9.04C4.256 9.024 4.232 9.016 4.208 9C4.192 8.992 4.184 8.984 4.176 8.976C4.032 8.896 3.952 8.84 3.952 8.84C3.952 8.84 4.336 9.48 5.352 9.784C5.112 10.088 4.816 10.448 4.816 10.448C3.048 10.392 2.376 9.232 2.376 9.232C2.376 6.656 3.528 4.568 3.528 4.568C4.68 3.704 5.776 3.728 5.776 3.728L5.856 3.824C4.416 4.24 3.752 4.872 3.752 4.872C3.752 4.872 3.928 4.776 4.224 4.64C5.08 4.264 5.76 4.16 6.04 4.136C6.088 4.128 6.128 4.12 6.176 4.12C6.664 4.056 7.216 4.04 7.792 4.104C8.552 4.192 9.368 4.416 10.2 4.872C10.2 4.872 9.568 4.272 8.208 3.856L8.32 3.728C8.32 3.728 9.416 3.704 10.568 4.568C10.568 4.568 11.72 6.656 11.72 9.232C11.72 9.232 11.04 10.392 9.272 10.448Z" fill="white"/>
					</g>
					<defs>
					<clipPath id="clip0_511_414">
					<rect width="14" height="16" fill="white"/>
					</clipPath>
					</defs>
					</svg> SnoW#1337
			</HeaderLink>			
		</div>
		<div class="col-lg-12 my-150 d-flex gap-50">
			<img class="circle" src="/me.jpg" width="125" height="125" alt="philip"/>
			<div>
				<p class="m-0 c-lightgrey">full stack developer</p>
				<h1 class="title m-0">philip jovanovic</h1>
				<p class="d-flex align-center c-lightgrey c-700 mt-2">
					<svg class="me-1" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.9999 11.1917C11.4358 11.1917 12.5999 10.0277 12.5999 8.59167C12.5999 7.15576 11.4358 5.9917 9.9999 5.9917C8.56399 5.9917 7.3999 7.15576 7.3999 8.59167C7.3999 10.0277 8.56399 11.1917 9.9999 11.1917Z" stroke="#ACB4C1" stroke-opacity="0.5" stroke-width="1.5"/>
					<path d="M3.01675 7.07508C4.65842 -0.141583 15.3501 -0.133249 16.9834 7.08341C17.9417 11.3167 15.3084 14.9001 13.0001 17.1167C11.3251 18.7334 8.67507 18.7334 6.99175 17.1167C4.69175 14.9001 2.05842 11.3084 3.01675 7.07508Z" stroke="#ACB4C1" stroke-opacity="0.5" stroke-width="1.5"/>
					</svg>
					germany - frankfurt/hamburg
				</p>
			</div>
		</div>
	</div>
</div>