---
const { href, intext, class: className } = Astro.props;
---

<a href={href} class:list={[className]} class="c-white align-center" target="_blank">
	<slot />
	{ !intext && <svg class="ms-1" width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0.505025 7.57607L0.0100505 8.07104L1 9.06099L1.49497 8.56602L0.505025 7.57607ZM8.77107 0.999977C8.77107 0.613378 8.45767 0.299977 8.07107 0.299977H1.77107C1.38447 0.299977 1.07107 0.613378 1.07107 0.999977C1.07107 1.38658 1.38447 1.69998 1.77107 1.69998L7.37107 1.69998L7.37107 7.29998C7.37107 7.68658 7.68447 7.99998 8.07107 7.99998C8.45767 7.99998 8.77107 7.68658 8.77107 7.29998V0.999977ZM1.49497 8.56602L8.56604 1.49495L7.57609 0.505003L0.505025 7.57607L1.49497 8.56602Z" fill="#FBFBFF"/>
		</svg>
	}
</a>