---
import Divider from "./Divider.astro";
import Link from "./Link.astro";
---

<Divider title="stuff" />
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<span class="c-lightgrey">pkg.go.dev redirect:</span>
			<Link href="https://go.philip.id">
				go.philip.id
			</Link>
		</div>
		<div class="col-lg-12">
			<span class="c-lightgrey">NPM profile</span>
			<Link href="https://www.npmjs.com/~snwzy">npmjs.com/~snwzy</Link>
		</div>
	</div>
</div>
